<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/tx
	    http://www.springframework.org/schema/tx/spring-tx.xsd
	    http://www.springframework.org/schema/aop 
	    http://www.springframework.org/schema/aop/spring-aop.xsd
    ">
    <!-- 使用C3P0数据源，MySQL数据库 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- MySQL5 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql:///news"></property>
        <property name="user" value="root"></property>
        <property name="password" value="sa"></property>
    </bean>

    <!-- session工厂 -->
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        
        <property name="dataSource" ref="dataSource" />
        
        <!-- hibrenate信息 -->
        <property name="hibernateProperties">
            <props>
                <!-- hibernate创建表  update：如果有表进行升级操作，如果没有则创建表 -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!-- 配置数据库的方言 -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!-- 是否输出底层SQL语句 -->
                <prop key="hibernate.show_sql">true</prop>
                <!-- 是否格式化SQL语句 -->
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        
        <!-- hibrenate引入配置映射文件 -->
        <property name="mappingResources">
            <list>
                <value>com/news/entity/Manager.hbm.xml</value>
                <value>com/news/entity/Article.hbm.xml</value>
                <value>com/news/entity/Catalog.hbm.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- 使用HibernateDaoSupport -->
    <bean id="managerDao" class="com.news.DaoImpl.ManagerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="CatalogDao" class="com.news.DaoImpl.CatalogDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" 
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <!-- 注入sessionFactory -->
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 开启事物注解 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>